doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='/public/css/maintenence.css' rel='stylesheet' type='text/css')
  title Period of Maintenance
main
  section.advice
    h1.advice__title Site is under construction or maintenance 
    p.advice__description
      span &lt;
      |  building 
      span /&gt;
      |  not finished yet
  section.city-stuff
    ul.skyscrappers__list
      li.skyscrapper__item.skyscrapper-1
      li.skyscrapper__item.skyscrapper-2
      li.skyscrapper__item.skyscrapper-3
      li.skyscrapper__item.skyscrapper-4
      li.skyscrapper__item.skyscrapper-5
    ul.tree__container
      li.tree__list
        ul.tree__item.tree-1
          li.tree__trunk
          li.tree__leaves
        ul.tree__item.tree-2
          li.tree__trunk
          li.tree__leaves
        ul.tree__item.tree-3
          li.tree__trunk
          li.tree__leaves
        ul.tree__item.tree-4
          li.tree__trunk
          li.tree__leaves
        ul.tree__item.tree-5
          li.tree__trunk
          li.tree__leaves
        ul.tree__item.tree-6
          li.tree__trunk
          li.tree__leaves
        ul.tree__item.tree-7
          li.tree__trunk
          li.tree__leaves
        ul.tree__item.tree-8
          li.tree__trunk
          li.tree__leaves
    ul.crane__list.crane-1
      li.crane__item.crane-cable.crane-cable-1
      li.crane__item.crane-cable.crane-cable-2
      li.crane__item.crane-cable.crane-cable-3
      li.crane__item.crane-stand
      li.crane__item.crane-weight
      li.crane__item.crane-cabin
      li.crane__item.crane-arm
    ul.crane__list.crane-2
      li.crane__item.crane-cable.crane-cable-1
      li.crane__item.crane-cable.crane-cable-2
      li.crane__item.crane-cable.crane-cable-3
      li.crane__item.crane-stand
      li.crane__item.crane-weight
      li.crane__item.crane-cabin
      li.crane__item.crane-arm
    ul.crane__list.crane-3
      li.crane__item.crane-cable.crane-cable-1
      li.crane__item.crane-cable.crane-cable-2
      li.crane__item.crane-cable.crane-cable-3
      li.crane__item.crane-stand
      li.crane__item.crane-weight
      li.crane__item.crane-cabin
      li.crane__item.crane-arm
