doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='/public/css/thanks.css')
        title Thank you for submission
    body 
.content
  .wrapper-1
    .wrapper-2
      h1 Thank you !
      p Thanks for Scheduling an appointment!
      p you should receive a confirmation email soon
      button.go-home
        a(href='https://rj-personal-website.herokuapp.com/')| go home
    .footer-like
    
link(href='https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro' rel='stylesheet')
